<!---
 *	Filemanager CFM connector language file
 *
 *	fr.cfm
 *	use for ckeditor filemanager plug-in by Core Five - http://labs.corefive.com/Projects/FileManager/
 *
 *	@license	MIT License
 *	@author		Paul Klinkenberg, www.coldfusiondeveloper.nl/post.cfm/cfm-connector-for-ckeditor-corefive-Filemanager
 *  @date		February 28, 2010
 *  @version	1.0
 				1.1 April 25, 2010: Fixed some bugs and added some functionality
 *	@copyright	Authors
--->
<cfset lang['AUTHORIZATION_REQUIRED']				=	'Vous n''êtes pas autorisé à utiliser le gestionnaire de documents.' />
<cfset lang['INVALID_ACTION']						=	'Action invalide.' />
<cfset lang['MODE_ERROR']							=	'Erreur de mode.' />
<cfset lang['DIRECTORY_ALREADY_EXISTS']			=	'Le répertoire ''%s'' existe déjà.' />
<cfset lang['UNABLE_TO_CREATE_DIRECTORY']			=	'Impossible de créer le répertoire %s.' />
<cfset lang['INVALID_VAR']						=	'Variable invalide %s.' />
<cfset lang['DIRECTORY_NOT_EXIST']				=	'Le répertoire %s n''existe pas.' />
<cfset lang['UNABLE_TO_OPEN_DIRECTORY']			=	'Impossible d''ouvrir le répertoire %s.' />
<cfset lang['ERROR_RENAMING_DIRECTORY']			=	'Erreur lors du renommage du répertoire %s vers %s.' />
<cfset lang['ERROR_RENAMING_FILE']				=	'Erreur lors du renommage du fichier %s vers %s.' />
<cfset lang['INVALID_DIRECTORY_OR_FILE']			=	'Répertoire ou fichier invalide.' />
<cfset lang['INVALID_FILE_UPLOAD']				=	'Transfert de fichier invalide.' />
<cfset lang['UPLOAD_FILES_SMALLER_THAN']			=	'Veuillez transférer des fichiers dont la taille est inférieure à %s.' />
<cfset lang['UPLOAD_IMAGES_ONLY']					=	'Seules des images peuvent être transférées, (les autres types de fichiers ne sont pas supportés).' />
<cfset lang['UPLOAD_IMAGES_TYPES_ABC']			=	'Les images doivent être au formats ''%s''.' />
<cfset lang['FILE_DOES_NOT_EXIST']				=	'Le fichier %s n''existe pas.' />

<cfset lang['FILE_ALREADY_EXISTS']				=	'Le fichier ''%s'' existe déjà.' />
<cfset lang['DIRECTORY_NOT_EMPTY']				= "Le répertoire '%s' n'est pas vide!" /><!--- ... and therefor can't be deleted.--->
<cfset lang['FILE_NOT_DELETED']					= "Le fichier '%s' ne peut pas être supprimé" />
<cfset lang['DIRECTORY_NOT_DELETED']			= "Le répertoire '%s' ne peut pas être supprimé" />
