<CFSET circleObj = CreateObject("component","birkhillincludes.box") />
<CFSCRIPT>
    circleObj.dsn = dsn;
    getcircle = circleObj.getcircles();
</CFSCRIPT>
<div class="circles">
  <div class="shadow"></div>
  <div class="container">
    <cfoutput query="getcircle">
      <h1>Our Menu</h1>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture1#"/>
        <h3>#line1#</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture2#"/>
        <h3>#line2#</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture3#"/>
        <h3>#line3#</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture4#"/>
        <h3>#line4#</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture5#"/>
        <h3>#line5#</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <img src="admin/_img/circles/#picture6#"/>
        <h3>#line6#</h3>
      </div>
    </cfoutput>
  </div>
</div>