<CFOUTPUT QUERY="pagedetails">
  <section id="pagecontent" style="background: url(admin/_img/banners/#bottom_image#); background-size: cover;">
    <div class="shadow"></div>
    <div class="container">
        #page_content2#
      <br />
      <a class="custom" href="#baseurl#uploads/File/Discount-Card.pdf" target="_blank">LOYALITY CARD FORM</a>
    </div>
  </section>
</CFOUTPUT>