<section id="socials">
  <ul class="list-inline">
    <li><a href="##" target="_blank">
    <img src="_img/tripadvisor-colour.png" /></a></li>
    <li><a href="http://twitter.com/birkhillinn" target="_blank"><img src="_img/twitter-colour.png" /></a></li>
    <li><a href="http://www.facebook.com/BirkhillInn" target="_blank"><img src="_img/facebook-colour.png" /></a></li>
  </ul>
</section>