<CFOUTPUT QUERY="pagedetails">
  <section id="subbanner" style="background: url('admin/_img/banners/#banner_image#'); background-size: cover;">
    <div class="container">
      <div class="wrapper text-left">
        <h3>#banner_text#</h3>
      </div>
    </div>
  </section>
</CFOUTPUT>