
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--- Tell the browser to be responsive to screen width --->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title>Birkhill</title>

<!--- Favicon --->
<link type="image/x-icon" rel="shortcut icon" href="<CFOUTPUT>#request.baseurl#</CFOUTPUT>_img/favicon.ico" >
<link type="image/x-icon" rel="icon" href="<CFOUTPUT>#request.baseurl#</CFOUTPUT>_img/favicon.ico" >
