
.on-page-search {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}

.on-page-search input[type="text"], .on-page-search .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.on-page-search input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

.on-page-search input[type="text"]:focus, .on-page-search input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}

.on-page-search input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}

.on-page-search .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.content-header a {
  margin: 0px 5px;
}