.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
	padding: 3px 12px !important;
	height: 28px !important;	
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 23px !important;	
}