body,html{
  height: 100%;
}

body {
  background: #fafafa;
  font-family: Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-feature-settings: "liga";
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

* a, * button, :focus {
  outline:none !important;
}

* a:hover {
  text-decoration: inherit; /* no underline */
}


.pull-bottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.container {
	position: relative;
  	max-width: 1100px;
  	margin: 0 auto;
  	padding: 0 20px;
  	width: 100%;
  	height: 100%;
  	text-align: center;
}

.header-container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	height: 100%;
	text-align: center;
}

main {
    display: block;
    background-color: #fff;
}

hr {
  border-color: #8f8f8f;
  color: #8a8a8a;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 70%;
}

#top {
  width: 100%;
  padding: 20px 0;
  font-size: 0;
  box-sizing: content-box;
}

.branding-container {
  margin-bottom: 4px;
}

.phone-up:before {
  background: rgba(0, 0, 0, 0) url("../_img/telephone.png") no-repeat scroll 0 0;
  content: " ";
  display: block;
  height: 32px;
  left: 0px;
  position: absolute;
  bottom: 6px;
  width: 32px;
}

.phone-up {
  color: #8f8f8f;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-left: 41px;
  position: relative;
  text-align: left;
  width: 200px
}

.email-up {
  font-size: 30px;
  text-align: left

}

.email-up .header-email a {
  font-size: 24px;
  text-align: left
  color: #8f8f8f;
}

.weird-margin {
  margin-left: 50px;
}

@media (max-width: 991px) {
  .weird-margin {
    margin: 0 auto;
  }
}

.brandings li a {
  display: block;
  font-size: 18px;
  height: 32px;
  width: 32px;
}

#book-now {
  font-size: 16px;
  font-weight: bold;
  color:#337ab7;
  text-decoration: none;
}

#book-now:after {
  display: block;
  position: absolute;
  right: 6px;
  top: 15px;
  content: ' ';
  width: 14px;
  height: 14px;
  background: url('../_img/arrow.png') no-repeat;
}

.book-container {
  width: 150px;
  position: relative;
  float: right;
}

.book-container > div {
  padding: 10px;

}

#facebook {
  background: url('../_img/facebook-gray.png') no-repeat;
  background-size: contain;
}

#facebook:hover {
  background: url('../_img/facebook-colour.png') no-repeat;
  background-size: contain;
}

#twitter {
  background: url('../_img/twitter-gray.png') no-repeat;
  background-size: contain;

}

#twitter:hover {
  background: url('../_img/twitter-colour.png') no-repeat;
  background-size: contain;
}

#tripadvisor {
  background: url('../_img/tripadvisor-gray.png') no-repeat;
  background-size: contain;

}

#tripadvisor:hover {
  background: url('../_img/tripadvisor-colour.png') no-repeat;
  background-size: contain;
}

#linked-in {
  background: url('../_img/linked-in-gray.png') no-repeat;
  background-size: contain;

}

#linked-in:hover {
  background: url('../_img/linked-in-colour.png') no-repeat;
  background-size: contain;
}

/*.img-container {
  width: 100%;
  background: url('../images/Invercarse Logo.png') no-repeat;
  background-position: 50% 20%;
  background-size: contain;
  height: 50px;
}*/

@media (max-width: 767px) {
  .img-container {
    height: 50px;
  }

  #top {
    height: auto;
  }
}


.form-control {
	border-radius: 0px;
	box-shadow: none;
	border-color: #d2d6de;
}

.form-group, .contact-form p {
	text-align: left;
}

#layerslider {
	border-bottom: 2px solid #ddd;
}

.contact {
	text-align: justify;
}

/* header */
.header-contact {
	background: #545454;
}

.header-contact-content {
	text-align: center;
	border-top: 5px solid #545454;
}

.header-phone-icon {
	margin-top: -5px;
}

.header-phone {
	font-size: 16px;
	font-weight: 700;
	color: #ccc;
	margin-left: 5px;
	margin-right: 10px;
}

.header-email-icon {
	margin-top: -5px;
}



@media (max-width: 768px) {
	.header-email {
		font-size: 12px;
	}
}

.header {
	border-top: 5px solid #545454;
	width: 100%;
	background: #fff;
	padding: 14px 0px;
	border-bottom: 2px solid #ddd;
}

.header-logo {
	text-align: left;
}

.header-navigation-large {
	text-align: right;
	height: 56.5px;
}

.header-navigation-small {
	background: #eee;
	display: none;
	border-bottom: 2px solid #ccc;
}

#header-navigation-button {
	cursor: pointer;
}

.header-menu {
	padding: 0px;
	margin-top: 22px;
	list-style: none;
}

.header-menu li {
	padding: 10px 0px;
	display: inline-block;
	border-top: 2px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.header-menu li:focus, .header-menu li:hover {
	border-top: 2px solid #0054A4;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.header-menu li a {
	color: #0054A4;
	text-decoration: none;
}

.menu-item {
	padding: 0px 5px;
	border-right: 1px solid #ccc;
	font-size: 13px;
}

.header-menu li:last-child .menu-item {
	border-right: none;
}

.header-menu li a:focus, .header-menu li a:hover {
	color: #545454;
}

.nav-selected {
	color: #545454 !important;
}

@media (max-width: 991px) {
	#header-navigation-button {
		font-size: 2em;
	}

	.header-menu {
		margin-top: 10px;
	}

	.header-menu li {
		border-top: 2px solid #eee;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.menu-item {
		border-right: 1px solid #fff;
	}

	.header-menu li:focus, .header-menu li:hover {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
}

@media (max-width: 768px) {
	#header-navigation-button {
		font-size: 1em;
	}

	.header-menu li {
		padding: 5px 0px;
		display: list-item;
	}

	.header-menu li:focus, .header-menu li:hover {
		background: #ddd;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.header-menu li a {
		display: block;
	}

	.menu-item {
		border-right: none;
	}
}


/* footer */
#footer {
	background: #404042;
	color: #ccc;
	font-size: 12px;
	padding: 40px 0;
}


#footer .email-up a  {
  color: #f8f8f8;
}

#footer .email-up a span {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 991px) {
	#footer .center,
	#footer .phone-up,
	#footer .email-up {
		text-align: center;
	}

	#footer .phone-up {
		margin: 0 auto;
	}

}

#footer strong {
	color: #fff;
}

#footer a:link, #footer a:visited, #footer a:visited:hover {
	text-decoration: none;
	color: #ccc;
}

#footer .email-up a:link,
#footer .email-up a:visited,
#footer .email-up a:visited:hover {
  color: #f8f8f8;
}


#footer a:hover {
	text-decoration: underline;
	color: #fff;
}


#menu {
  background: #3B3B3B;
}

.navbar {
  position:absolute;
  width: 100%;
  min-height:30px
}

@media (min-width: 768px) {
  #navbar ul {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  #menu{
    height: 30px;
  }

  .navbar-nav > li > a {
    padding-top:5px ;
    padding-bottom:5px
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #bbb;
}

/* icons */

div.icon {
  background: #404042;
  color: #A8A9AD;
  margin: 50px 0px;
  padding: 40px 0px;
  position: relative;
}

.icon h1 {
  font-size: 25px;
}

.icon h1, .circles h1 {
  color: white;
  text-align: center;
  font-family: Arial,"Lucida Grande",sans-serif;
  margin-bottom: 50px;
}



.icons .row {
  position: relative;
}

.icons > div {
  min-height: 120px;
}

.icons .heading {
  width: 70%;
}

.icons .heading h1 {
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight:bold;
  font-family: Arial, "Lucida Grande", sans-serif;
}

.icons .heading.left {
  text-align: left;
  float: left;
}

.icons .heading.right {
  text-align: right;
  float: right;
}

.icons .image {
  text-align: center;
  padding-top: 15px;
}

.row.icons .col-md-6:last-of-type {
  border-left: 3px solid #A8A9AD;
}


@media screen and (max-width: 991px) {
  .row.icons .col-md-6:first-of-type {
    border-right: none;
  }

  .row.icons .col-md-6:last-of-type {
    border-left: none;
  }
}

.icon .bubble {
  display: block;
  width: 100px;
  height: 100px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-top: 50px solid #404042;
  position: absolute;
  margin: 0px auto;
  bottom: -80px;
  left: 0;
  right: 0;
}

/* circles */

.circles {
  background: rgba(0, 0, 0, 0) url("../_img/circles.jpg") repeat scroll 0 0 / cover ;
  margin-bottom: 50px;
  padding: 50px;
  text-align: center;
  position: relative;
}


.circles h1 {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.circles h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.circles h3 span {
  color: #35A8DF;
  font-size: 0.9em;
}

.circles h3 span:before {
 content: '\a' ;
 white-space: pre;
}

/* Marketing */

#marketing {
	padding: 80px 0;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", sans-serif;
}

#marketing h2, #pagecontent h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, "Lucida Grande", sans-serif;
  line-height: 1.2em;
}

#pagecontent h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, "Lucida Grande", sans-serif;
  line-height: 1.2em;
}

#marketing p, #pagecontent {
  color: #fff;
  margin-bottom: 30px;
}

#marketing .container {
  max-width: 850px;
}

#marketing p,
#marketing h2 {
  color: #333;
}

a.custom {
	display: inline-block;
	margin: 20px auto;
	padding: 15px 30px;
	border: 3px solid white;
	color: white;
	font-weight: bold;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

#tCarousel .item {
	font-size: 18px;
	color: red;
	height: 250px;
}

#tCarousel .carouselbox p {
	color: #444;
	text-shadow: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

#tCarousel .carousel-indicators li {
	background: #444;
}

#tCarousel .carousel-indicators li.active {
	border-color: #444;
	background: #fff;
}

@media screen and (min-width: 1100px) {
  #tCarousel, #tCarousel .item, #tCarousel .carousel-inner {
    height: 200px;
  }
}

@media screen and (max-width: 670px) {
  #tCarousel, #tCarousel .item, #tCarousel .carousel-inner {
    height: 270px;
  }
}

@media screen and (max-width: 570px) {
  #tCarousel, #tCarousel .item, #tCarousel .carousel-inner {
    height: 320px;
  }
}

@media screen and (max-width: 490px) {
  #tCarousel, #tCarousel .item, #tCarousel .carousel-inner {
    height: 450px;
  }
}

h3#testimonials {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .icon img {
    width: 100%;
    height: auto;
    max-width: 64px;
  }
}

.boxes .orange {
  color: #F7941D;
  font-weight: bold;
}

.boxes {
  position: relative;
  margin: 20px auto;
  color: #8f8f8f;
}

.boxes > div {
  text-align: center;
}

.boxes .img-container {
	background-size: cover;
	margin: 0 21px;
	height: 240px;
}

.boxes .heading {
  color: #fff;
  left: 0;
  margin: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 60%;
  word-break: normal;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 767px) {
  .boxes .heading {
    top: 0;
  }
}

.boxes .heading h1 {
  font-size: 24px;
  font-weight: bold;
}

.boxes .heading h1:first-of-type {
  margin-bottom: 0px;
}

.boxes .heading h1:last-of-type {
  margin-top: 5px;
  margin-bottom: 25px;
}

.boxes .heading h3 {
  font-size: 14px;
  font-family: Arial, "Lucida Grande", sans-serif;
}

.boxes .content {
  border: 1px solid #989898;
  margin: 10px 20px 20px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.boxes .content a {
	color: #337ab7;
	font-weight: bold;
}

#banner {
  padding: 50px;
  width: 100%;
  height: 400px;
  background: url('../admin/_img/bottom.jpg');
  background-size: cover;
}

#banner h3, #subbanner h3 {
  color: white;
  display: inline;
  line-height: 2.3em;
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.8em;
  text-align: left;
  white-space: pre-wrap;
}

#socials {
  margin: 90px auto;
  text-align: center;
}

#socials li {
  padding-left: 15px;
  padding-right: 15px;
}

.row.first {
  margin-bottom: 30px;
}

.row.first  img{
  margin-top: 30px;
}

.row.first div:first-of-type {
  text-align: left;
}

@media (max-width: 991px) {
  .row.first div:first-of-type {
    text-align: center;
  }

  .row.first img {
    margin-top: 0px;
  }

}

@media (min-width: 992px) {
  .center.contact {
    margin-top: 60px;
  }
}

#subbanner {
  padding: 60px;
  margin-top: 30px;
  width: 100%;
  height: 475px;
  background-size: cover;
  background-position: 50%;
}

#pagecontent {
  padding: 60px;
  margin-top: 30px;
  width: 100%;
  min-height: 350px;
  background-position: 50%;
}

#pagecontent h2 {
  display: inline-block;
  max-width: 800px;
}

@media (max-width: 767px) {
  #banner h3, #subbanner h3 {
    font-size: 1.2em;
    line-height: 2.9em
  }

  #subbanner {
    margin-top: 50px;
    height: 250px;
  }
}

.page.content h3, h3#testimonials {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.page.content {
  margin: 20px auto 60px;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  font-size: 1.2em;
}

#includes {
  background: #404040;
  color: white;
  width: 100%;
  text-align: center;
  padding: 25px 0 15px;
  font-weight: bold;
}

#includes h3 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 0;
}

#includes .list-inline li {
  padding: 0 15px;
}

#tour {
  margin: 50px auto;
  width: 100%;
  text-align: center;
}

a.custom.dark {
  border: 1px solid #777;
  color: #333;
  margin-bottom: 40px;
}

#tour img {
  margin-bottom: 10px;
}

#pagecontent {
  color: white;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
  position: relative;
}

@media (max-width: 450px) {
  #pagecontent {
    padding: 15px;
  }
}

#pagecontent h3 {
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.shadow {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider {
    width: 95%;
    margin: 10px auto 30px;
}

@media (max-width: 767px) {
  .slider {
    width: 100%;
  }
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

#gallery .image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  overflow: hidden;
  width: 282px;
}

.page.content #book_now {
  min-height: 400px;
}

.spacer {
  width: 100%;
  height: 30px;
}

@media (max-width: 767px) {
  .spacer {
    height: 50px;
  }

  .slick-prev:before,
  .slick-next:before {
      display: none;
      width: 0;
  }
}