/************/
/* Carousel */
/************/

#myCarousel {
  margin-top: 30px;
  position: relative;
  min-height: 420px;
}

#myCarousel .slide {
  min-height: 420px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 30%;
  overflow: hidden;
  position: relative;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: auto;
  height: 100%;
}

#myCarousel .controls {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #EC008C;
}

#myCarousel .controls .carousel-control {
  color: #EC008C;
  font-size: 20px;
  opacity: 1;
  background: none;
  padding-top: 0;
}

#myCarousel .controls .carousel-control:hover {
  opacity: 0.7;
}


#myCarousel h3 {
  display: inline;
  line-height: 2.3em;
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.72);
  font-size: 2.8em;
  text-align: left;
  white-space: pre-wrap;
}

#myCarousel .carousel-caption {
  position: absolute;
  top: 50px;
  left: 150px;
  text-align: left;
}

@media (max-width: 767px) {
  #myCarousel {
    min-height: 320px;
    margin-top: 50px;
  }

  #myCarousel .carousel-caption {
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-align: left;
  }

  #myCarousel .slide {
    min-height: 320px;
  }

  #myCarousel h3 {
    display: inline;
    line-height: 2.6em;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
  }
}
