/* Modules */
section.module:last-child {
  	margin-bottom: 0;
}

section.module p {
  	margin-bottom: 10px;
  	font-size: 16px;
  	font-weight: 300;
  	text-align: justify;
}

section.module ul {
  	text-align: justify;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 20px 0px;
}

section.module.parallax {
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.overlay1 {
  background-color:rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}

.overlay2 {
  background-color:rgba(46,83,159,0.76);
  width: 100%;
  height: 100%;
  color: #fff;
}

section.module.parallax-1 {
    background-image: url("../_img/background/background_1.jpg");
}

section.module.parallax-2 {
    background-image: url("../_img/background/background_2.jpg");
}

section.module.parallax-3 {
    height: 130px;
    background-image: url("../_img/background/background_1.jpg");
    border-bottom: 2px solid #ddd;
    margin-top: 30px;
}

@media (max-width: 767px) {
  section.module.parallax-3 {
    margin-top: 50px;
  }
}

section h1 {
	color: #fff;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 700;
}

section .container h2 {
	color: #0054A4;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 700;
}

section.content .container {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

section.parallax-2 .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section .container .contact-left h2 {
	text-align: left;
}

section .container .contact-left p {
	text-align: left;
}

section .container .contact-left form {
	text-align: left;
}

section.content .container hr {
	color: #0054A4;
	border-color: #0054A4;
}

.parallax-2 .container h2 {
	color: #fff;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 700;
}

.parallax-2 .container a {
  	color: #ccc;
}

.parallax-2 .container a:focus, .parallax-2 .container a:hover {
  	color: #fff;
}

.container h3 {
	color: #0054A4;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: left;
}

.container h4 {
	color: #0054A4;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: left;
}

/*
.parallax-2 .container p {
	color: #fff;
}

.parallax-2 .container {
	padding: 40px 0;
}
*/

.parallax-4 .container h2 {
	color: #fff;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300;
}

.parallax-4 .container h3 {
	color: #00bdff;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 500;
}

.parallax-4 .container p {
	color: #fff;
}

.parallax-4 .container {
	padding: 40px 0;
}
