<!---
 *	Filemanager CFM connector language file
 *
 *	en.cfm
 *	use for ckeditor filemanager plug-in by Core Five - http://labs.corefive.com/Projects/FileManager/
 *
 *	@license	MIT License
 *	@author		Paul Klinkenberg, www.coldfusiondeveloper.nl/post.cfm/cfm-connector-for-ckeditor-corefive-Filemanager
 *  @date		February 28, 2010
 *  @version	1.0
 				1.1 April 25, 2010: Fixed some bugs and added some functionality
 *	@copyright	Authors
--->
<cfset lang['AUTHORIZATION_REQUIRED']				=	'You are not authorized to use filemanager.' />
<cfset lang['INVALID_ACTION']						=	'Invalid action.' />
<cfset lang['MODE_ERROR']							=	'Mode error.' />
<cfset lang['DIRECTORY_ALREADY_EXISTS']			=	'The directory ''%s'' already exists.' />
<cfset lang['UNABLE_TO_CREATE_DIRECTORY']			=	'Unable to create the directory %s.' />
<cfset lang['INVALID_VAR']						=	'Invalid var %s.' />
<cfset lang['DIRECTORY_NOT_EXIST']				=	'The directory %s does not exist.' />
<cfset lang['UNABLE_TO_OPEN_DIRECTORY']			=	'Unable to open the directory %s.' />
<cfset lang['ERROR_RENAMING_DIRECTORY']			=	'Error while renaming the directory %s to %s.' />
<cfset lang['ERROR_RENAMING_FILE']				=	'Error while renaming the file %s to %s.' />
<cfset lang['INVALID_DIRECTORY_OR_FILE']			=	'Invalid directory or file.' />
<cfset lang['INVALID_FILE_UPLOAD']				=	'Invalid file upload.' />
<cfset lang['UPLOAD_FILES_SMALLER_THAN']			=	'Please upload only files smaller than %s.' />
<cfset lang['UPLOAD_IMAGES_ONLY']					=	'Please upload only images, no other files are supported.' />
<cfset lang['UPLOAD_IMAGES_TYPES_ABC']			=	'Please upload only images of types ''%s''.' />
<cfset lang['FILE_DOES_NOT_EXIST']				=	'The file %s does not exist.' />

<cfset lang['FILE_ALREADY_EXISTS']				=	'The file ''%s'' already exists.' />
<cfset lang['DIRECTORY_NOT_EMPTY']				= "The directory '%s' is not empty, and therefor can't be deleted." />
<cfset lang['FILE_NOT_DELETED']					= "The file '%s' could not be deleted." />
<cfset lang['DIRECTORY_NOT_DELETED']					= "The directory '%s' could not be deleted." />
