<!---
 *	Filemanager CFM connector language file
 *
 *	nl.cfm
 *	use for ckeditor filemanager plug-in by Core Five - http://labs.corefive.com/Projects/FileManager/
 *
 *	@license	MIT License
 *	@author		Paul Klinkenberg, www.coldfusiondeveloper.nl/post.cfm/cfm-connector-for-ckeditor-corefive-Filemanager
 *  @date		February 28, 2010
 *  @version	1.0
 				1.1 April 25, 2010: Fixed some bugs and added some functionality
 *	@copyright	Authors
--->
<cfset lang['AUTHORIZATION_REQUIRED']				=	'Je hebt niet de nodige rechten om filemanager te gebruiken.' />
<cfset lang['INVALID_ACTION']						=	'Ongeldige actie.' />
<cfset lang['MODE_ERROR']							=	'Mode fout.' />
<cfset lang['DIRECTORY_ALREADY_EXISTS']			=	'De directory ''%s'' bestaat al.' />
<cfset lang['UNABLE_TO_CREATE_DIRECTORY']			=	'De directory %s kon niet worden aangemaakt.' />
<cfset lang['INVALID_VAR']						=	'Ongeldige variabele %s.' />
<cfset lang['DIRECTORY_NOT_EXIST']				=	'De directory %s bestaat niet.' />
<cfset lang['UNABLE_TO_OPEN_DIRECTORY']			=	'De directory %s kon niet worden geopend.' />
<cfset lang['ERROR_RENAMING_DIRECTORY']			=	'Fout bij het hernoemen van de directory %s naar %s.' />
<cfset lang['ERROR_RENAMING_FILE']				=	'Fout bij het hernoemen van het bestand %s naar %s.' />
<cfset lang['INVALID_DIRECTORY_OR_FILE']			=	'Ongeldige directory of bestand.' />
<cfset lang['INVALID_FILE_UPLOAD']				=	'Ongeldige bestandsupload.' />
<cfset lang['UPLOAD_FILES_SMALLER_THAN']			=	'Upload alleen bestanden kleiner dan %s a.u.b.' />
<cfset lang['UPLOAD_IMAGES_ONLY']					=	'Alleen het uploaden van afbeeldingen is toegestaan.' />
<cfset lang['UPLOAD_IMAGES_TYPES_ABC']			=	'Alleen het uploaden van afbeeldingen van de types ''%s'' zijn toegestaan.' />
<cfset lang['FILE_DOES_NOT_EXIST']				=	'Het bestand %s bestaat niet.' />

<cfset lang['FILE_ALREADY_EXISTS']				=	'Het bestand ''%s'' bestaat al.' />
<cfset lang['DIRECTORY_NOT_EMPTY']				= "De directory '%s' is niet leeg, en kan daardoor niet verwijderd worden." />
<cfset lang['FILE_NOT_DELETED']					= "Het bestand '%s' kon niet verwijderd worden." />
<cfset lang['DIRECTORY_NOT_DELETED']			= "De directory '%s' kon niet verwijderd worden." />
